.tourPackage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  header {
    margin-top: 70px;
    height: 413px;
    width: 981px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    h1 {
      padding: 30px;

      font-size: 70px;
      color: $site-white;
      font-family: GillSansI;
      font-weight: normal;
    }
    .right {
      text-align: right;
      h4 {
        font-size: 30px;
        color: $site-white;
        font-family: GillSansI;
        font-weight: normal;
        padding: 10px;
        padding-top: 210px;
      }
    }
  }
  .images {
    width: $content-width;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    justify-content: space-between;
    .img {
      height: 347px;
      width: 298px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .dayContainer {
    margin: 0 auto;
    width: 981px;

    .day {
      padding-top: 10px;
      padding-bottom: 50px;
      h1 {
        font-size: 50px;
        color: black;
        font-family: GillSansI;
        font-weight: normal;
        margin-bottom: 5px;
      }
      hr {
      width: 171px;
      border: 1px solid black;
      margin-bottom: 30px;
    }
      p {
        font-size: 16px;
        color: black;
        font-family: GillSansReg;
      }
    }
    
    .buttonContain {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 40px;
      button {
        width: 133px;
        height: 40px;
        font-family: GillSansReg;
        font-size: 15px;
        background-color: $site-blue;
        color: $site-white;
        border: none;
        border-radius: 30px;
        font-size: 15px;
        margin-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .tourPackage header {
    width: 100%;
    h1 {
    }
    .right h4 {
      padding-top: 100px;
      h4 {
        text-align: left;
      }
    }
  }
  .tourPackage .images {
    flex-direction: column;
    .img {
      margin: 20px;
    }
  }

  .tourPackage .dayContainer {
    width: 100%;
    padding: 0 10px;

    .day {
      width: 100%;
      h1 {
      }
      p {
        width: 100%;
      }
    }
    hr {
    }
    .buttonContain {
      button {
      }
    }
  }
}
